* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  align-items: center;
  line-height: 1.5;
  display: flex;
  flex-flow: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  border-bottom: 1px solid seashell;
  background-color: black;
  height: 69px;
  width: 100%;
  padding: 0px;
  margin-top: 0px;
}

.logo {
  display: inline-block;
  margin-left: 10px;
  margin-top: 9.5px;
  align-items: center;

}

nav {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

#mission {
  display: flex;
  flex-direction: column;
  background-image: url("../images/mission.jpg");
  height: 700px;
  width: 1200px;
  justify-content: space-around;
  align-items: center;
}

#store {
  display: flex;
  justify-content: center;
  flex-flow: column;
  text-align: center;
  width: 1200px;
  height: 700px;
}

.storeitems {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  padding: 10px;
  margin: 0px 100px 0px 100px;
  width: 1000px;
  text-align: center;
}

.storeitem {
  margin: 15px;
  justify-content: center;
}

#locations {
  background-image: url("../images/table.jpg");
  width: 1200px;
  height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.locationboxes {
  display: flex;
  justify-content: space-around;
  padding: 15px;
  opacity: 1;
  }

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  width: 1200px;
}

.contact {
  display: flex;
  flex-flow: column wrap;
  position: relative;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 1200px;
  height: 200px;
}

.downtown,
.bayside,
.oakdale {
  background-color: black;
  display: inline-block;
  text-align: center;
  line-height: 3;
  padding: 10px;
  width: 300px;
}

footer {
  width: 100%;
  padding-left: 20px;
}
